body {
    background-color: #ddd;
}

.numberOfPlayers {
    font-size: 1.4em;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid black;
    width: 50%;
    display: inline-block;
    background-color: cyan;
    border-radius: 40px;
}

/* CSS for the map */
/* Define styles for territories */
.territory {
    border: 2px solid #000;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 0px 5px;
    text-align: center;
    cursor: pointer;
    background-color: #ffdfdf;
    
}

#mainView {
    width: 90%;
    display: none;
    /* outline: 1px solid red; */
    margin: 0px auto;
}

#turnAction {
    height: 500px;
    border: 3px double black;
    width: 350px;
    /* outline: 1px solid red; */
}

#turnResults {
    overflow-y: scroll;
    height: 340px;
    background-color: white;
    border: 3px double black;
    width: 99%;
}

/* #hr {
    margin-top: 20px;
} */

#map {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    /* outline: 1px solid red; */
}

.title {
    text-align: center;
    font-size: 1.5em;
}

#gameInfo {
    text-align: center;
    margin: 20px auto;
    width: 60%;
    font-size: 1.2em;
    border: 4px double blue;
    padding: 5px 20px 10px 20px;
    background-color:mediumseagreen;
    color: white;
}

.menu {
    text-align: center;
    margin-top: 50px;
}

.menu button {
    font-size: 2em;
    background-color:chartreuse;
    border-radius: 15px;
}

.territoryTitle {
    margin: 2px auto 10px auto;
    font-size: .9em;
}

.territory span {
    padding: 2px 4px;
}

.turn {
    text-align: center;
    margin-top: 5px;
}

.turn p, .turn button {
    font-size: 2em;
}

.turn button {
    border-radius: 20px;
    background-color: darkred;
    color: white;
}

#winGame {
    text-align: center;
    font-size: 1.5em;
}

#playAgain {
    font-size: 1.5em;
    background-color: chartreuse;
    border-radius: 15px;
}