body {
    background-color: #ddd;
}


/* CSS for the map */
/* Define styles for territories */
.territory {
    /* Define styles for each territory */
    /* You can use different colors, borders, etc. */
    border: 2px solid #000;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 2px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

#map {
    width: 500px;
    margin: 0 auto;
    display: none;
}

.title {
    text-align: center;
    font-size: 1.5em;
}

#gameInfo {
    text-align: center;
    margin: 20px auto;
    width: 60%;
    font-size: 1.2em;
    border: 4px double blue;
    padding: 5px 20px 10px 20px;
}

.menu {
    text-align: center;
    margin-top: 80px;
}

.menu button {
    font-size: 2em;
    background-color:chartreuse;
    border-radius: 15px;
}

.territoryTitle {
    margin: 1px auto;
    font-size: .9em;
}

.territory span {
    padding: 2px 4px;
}

.turn {
    text-align: center;
    margin-top: 50px;
}

.turn p, .turn button {
    font-size: 2em;
}

#winGame {
    text-align: center;
    font-size: 1.5em;
}

#playAgain {
    font-size: 1.5em;
    background-color: chartreuse;
    border-radius: 15px;
}